/* ================= BOOKING ================= */

.booking {
  padding: 80px 0 0;
  background: var(--surface);
}

.booking__container {
  display: flex;
  justify-content: center;
}

.booking__content {
  width: 100%;
  max-width: 600px;
}

.booking__form {
  overflow: visible;
}
.booking__btn {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.booking__group {
  width: 100%;
  margin-bottom: 15px;
}

/* INPUTS */
.booking__group input,
.booking__group select {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-family: inherit;
}

/* FIX TIME INPUT */
.booking__group input[type="time"] {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: var(--text-primary);
}

/* ================= TEXT ================= */

.booking__title {
  margin-bottom: 10px;
}

.booking__text {
  margin-bottom: 25px;
}

/* ================= ERROR ================= */

.input-error {
  border-color: var(--error);
}

.error-message {
  display: none;
  font-size: 12px;
  color: var(--error);
  margin-top: 5px;
}

.error-message.active {
  display: block;
}

/* ================= MANAGE ================= */

.booking-manage {
  width: 100%;
  padding: 60px 0;
  background: var(--surface);
}

/* CENTER + SAME WIDTH */
.booking-manage .container {
  display: flex;
  justify-content: center;
}

.booking-manage__box {
  width: 100%;
  max-width: 600px;
  background: var(--background);
  padding: 25px;
  border-radius: 12px;
}

/* BUTTONS */
.booking-manage__box .button {
  margin-right: 10px;
}

.manage-cancel {
  border-color: red;
  color: red;
}

/* MODIFY PANEL */
.modify-panel {
  margin-top: 20px;
}

/* ================= MOBILE ================= */

@media (max-width: 600px) {

  .booking__form,
  .booking-manage__box {
    padding: 20px;
  }

  /* buttons column */
  .booking-manage__box .button {
    width: 100%;
    margin: 10px 0 0 0;
  }

}