:root {
    --background: #fff; /* White - used for backgrounds and text on dark surfaces */
    --primary: #146ef5; /* Blue - main brand color for buttons and accents */
    --surface: #f5f7fa; /* Light gray - used for sidebar and card backgrounds */
    --highlight: #00E5C3; /* This color used for prices and positive values */
    --text-primary: #1d1d1d; /* Black - main text color */
    --text-secondary: #6b7280; /* Gray - used for subtitles and secondary text */
    --success: #16a34a; /* Green - used for success messages */
    --error: #dc2626; /* Red - used for error messages */
    --primaty-dark: #0a0f1e; /* Dark - used for footer background */
    --services-bgc: #f4f7ff; /* Light blue - background for services page */
}

body {
    background-color: var(--services-bgc);
}
/* HERO SECTION */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 80px;
  background: linear-gradient(135deg, #0b132b, #1c2541);
  overflow: hidden;
}

/* Background image */
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
}

.hero h1 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.3;
    color: var(--background);
}

.hero h1 span {
  color: var(--highlight);
}

.hero p {
  margin: 0px;
  color: var(--surface);
  font-size: 20px;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.primary {
    padding: 16px 32px;
    font-size: 18px;
    background: var(--primary);
    color: var(--background);
}

.outline {
    padding: 16px 32px;
    font-size: 18px;
    background: transparent;
    border: 1px solid var(--background);
    color: var(--background);
}


/* STATS SECTION */
.stats {
    background: #e5e7eb;
    padding: 40px 0;
}

.stats-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
}

.stat h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: var(--primary);
    font-size: 36px;
}

.stat p {
    margin: 0;
    color: var(--text-secondary);
    font-size: 16px;
}


/* PROJECTS SECTION */
.projects {
  background: var(--background);
  padding: 80px 20px;
  text-align: center;
}

.projects h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 36px;
    color: var(--text-primary);
}

.subtitle {
    margin-top: 0;
    margin-bottom: 48px;
    color: #6b7280;
}

.cards {
  margin-top: 40px;
  margin-bottom: 32px;
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 475px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

/* IMAGE */
.image {
  position: relative;
}

.image img {
  width: 100%;
  height: 192px;
  object-fit: cover;
}

/* BADGE */
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--primary);
  color: white;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
}

/* CONTENT */
.card-content {
  padding: 24px;
}

.card-content h3 {
    margin: 0 0 8px;
    font-size: 20px;
    color: var(--text-primary);
}

.card-content p {
  margin: 0 0 16px;
  color: var(--text-secondary);
  font-size: 14px;
}

/* BOTTOM */
.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.green {
  color: var(--highlight);
  font-size: 15px;
  font-weight: 600;
}

.card-bottom a {
  text-decoration: none;
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
}

/* BUTTON */
.see-all {
  padding: 12px 32px;
  font-size: 18px;
  font-weight: 500;
  background: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}




/* FEATURES SECTION */
.features {
  padding: 80px 20px;
  background: linear-gradient(135deg, #0b132b, #1c2541);
  text-align: center;
}

.features h2 {
    margin: 0 0 16px;
    font-size: 36px;
    color: var(--background);
}

.features .subtitle {
  margin: 0 0 48px;
  color: var(--surface);
}

/* GRID */
.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

/* CARD */
.feature-card {
  background: rgba(255,255,255,0.03);
  border-radius: 16px;
  padding: 25px;
  text-align: left;
  border: 1px solid rgba(255,255,255,0.08);
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-6px);
  border: 1px solid #00d4c6;
}

/* ACTIVE CARD (как первая) */
.feature-card.active {
  border: 1px solid #00d4c6;
  box-shadow: 0 0 15px rgba(0,212,198,0.3);
}

/* ICON */
.icon {
  color: var(--highlight);
  margin-bottom: 0 0 16px;
}

/* TEXT */
.feature-card h3 {
  font-size: 20px;
  margin-bottom: 0 0 8px;
  color: var(--background);
}

.feature-card p {
  font-size: 14px;
  color: var(--surface);
}


.tech {
    margin: 0;
    padding: 80px 20px;
    text-align: center;
}
.tech h2 {
    margin: 0 0 16px;
    font-size: 36px;
    color: var(--text-primary);
}
.tech p{
    margin: 0 0 48px;
    font-size: 16px;
    color: var(--text-secondary);
}
/* SLIDER */
.slider {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.slide-track {
  display: flex;
  gap: 20px;
  animation: scroll 25s linear infinite;
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

.tech-card {
  min-width: 140px;
  padding: 16px 0;
  background: var(--background);
  border-radius: 12px;
  font-weight: 600;
  border: 1px solid var(--text-secondary);
  color: var(--text-primary);
  white-space: nowrap;
  transition: 0.2s ease;
}

.tech-card:hover {
    color: var(--primary);
    border-color: var(--primary);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}